.header-container {
  height: 200px;
  background-color: black;
}
.mer {
  width: 30px;
  height: 90px;
}
.fleur {
  width: 80px;
  height: 130px;
  top: 15px;
}
.montagne {
  width: 80px;
  height: 100px;
  top: 195px;
  left: 150px;
}
