.header-container {
  height: 200px;
  background-color: black;
}
.logo {
  z-index: 100;
  top: 20px;
  position: absolute;
  background-color: transparent;
  justify-content: center;
  img {
    height: 100px;
  }
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sea {
  position: absolute;
  right: 35px;
  top: 90px;
  min-width: 20%;
  height: 115px;
  z-index: 1;
  opacity: 0.4;
}
.flower {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 60px;
  z-index: 0;
}
.mountain {
  position: absolute;
  width: 100px;
  height: 185px;
  top: 280px;
  left: 140px;
  transform: translate(-38%, -110%);
  opacity: 0.6;
  z-index: 1;
}
