.question-container {
  border: 1px solid white;
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.question {
  border: 1px solid black;
}

.rep1,
.rep2,
.rep3 {
  border: 1px solid white;
  border-radius: 30px;
  width: auto;
}
.rep1 {
  font-size: 18px;
}

.rep2 {
  font-size: 25px;
}

.rep3 {
  font-size: 29px;
}
