.reco-container {
  /* color: white; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: "Lato";

  h1.hi {
    padding: 20px 0;
    background-color: white;
    text-align: left;
    color: black;
  }

  p.ha {
    background-color: white;
    text-align: left;
    color: black;
  }

  button {
    background: black;

    a {
      background: none;
    }
  }

  .coucou {
    max-height: 200px;
    aspect-ratio: initial;
    /* border-radius: 10px; */
  }

  .eheh {
    display: flex;
    justify-content: center;
  }
}

.eheh {
  width: 50%;
  /* padding-left: 24px; */
  padding-top: 34px;
}

.hihi {
  width: 50%;
  padding-top: 30px;
  align-items: center;
}
.hi,
.ho,
.ha {
  font-size: 17px;
  margin-top: 4px;
}

.hou {
  font-size: 28px;
  margin-top: 11px;
}
.view-eh {
  margin-top: 8px;
  /* margin-left: 11px; */
  height: 36px;
  width: 158px;
  border: 2px solid white;
  /* border-radius: 12px; */
  font-family: "IBM Plex Mono";
}
.ViewProduct {
  width: 100%;
  color: white;
}
