.reco-container {
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.coucou {
  width: 147px;
  height: 185px;
  border-radius: 10px;
  align-items: center;
}
.eheh {
  width: 50%;
  padding-left: 24px;
  padding-top: 34px;
}

.hihi {
  width: 50%;
  padding-top: 30px;
  align-items: center;
}
.hi,
.ho,
.ha {
  font-size: 17px;
  margin-top: 4px;
}

.hou {
  font-size: 28px;
  margin-top: 11px;
}
.view-eh {
  margin-top: 8px;
  margin-left: 11px;
  height: 36px;
  width: 158px;
  border: 2px solid white;
  border-radius: 12px;
}
.ViewProduct {
  width: 100%;
  color: white;
}
