.result-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 30px;
    .result-title-h1 {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.5rem;
    }
}
.radar-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-recommendation {
    margin-top: 30px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-reco {
        font-family: "IBM Flex Mono", monospace;
        border: 1px solid white;
        color: white;
        padding: 20px 40px;
        border-radius: 5px;
    }
    .btn-reco:hover {
        background: white;
        color: black;
        transition: 0.5 ease-in-out;
    }
    
}
.scale {
    fill: #fafafa00;
    stroke: #fff;
    stroke-width: 2.2px;
}
.caption {
    fill: #f6f5f58d;
    font-weight: bold;
    font-family: 'IBM Plex Mono';
    
}
.shape {
    opacity: 0.8;
}