.result-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}
.radar-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-recommendation {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-reco {
        
        border: 1px solid white;
        color: white;
        padding: 20px 40px;
        border-radius: 5px;
    }
}